/* TABLE OF CONTENT
======================================

# 5. Married
# 6. Our Story
# 7. Slider Buttons
# 8. Events
# 9. Registry
# 10.  RSVP
# 11.  Where&When
# 12.  Footer
# 13.  Guests
# 14.  Gallery
# 15.  Responsive
======================================
*/


section {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0
}

.container1 {
  position: relative;
  z-index: 1;
  padding: 60px 16px 48px;
 

}


hr {
  max-width: 500px;
  border: 0;
  height: 1px;
  background: #757575;
  margin: 48px auto 0
}

.btn {
  font: 500 14px Roboto Condensed;
  padding: 8px;
  border-radius: 0;
  margin: 20px 4px;
  overflow: hidden;
  position: relative;
  background: none;
  min-width: 88px;
  min-height: 36px;
  transition: 0.5s all;
}

.btn:active, .btn:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: #FFF !important
}

/*# 2. White  Text*/
.white_txt {
  color: #FaF;
  background-color: #65666B
}

.white_txt h2 {
  color: #FFF
}

.white_txt h2 span:after {
  background: #FFF
}

.white_txt .slash i {
  background: #FFF
}

.white_txt a {
  color: #FFF
}







.intro_down span {
  display: block;
  width: 48px;
  height: 48px;
  color: #FFF;
  margin: 0 auto;
  position: relative;
  text-align: center
}

.intro_down i {
  position: relative
}


/*# 5. Married*/
.married {
  text-align: center;
  color:black;
}

.married .container {
  padding: 60px 0 0
}

.married .btn {
  margin: 30px 0 0
}

.marries_left {
  float: left;
  width: 33%;
  height: 270px;
  position: relative;
  left: -41px
}

.bride_block {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: skew(-17deg, 0deg);
  transform-origin: 50% 50% 0;
  left: 0;
  overflow: hidden
}

.bride_img {
  background: url(../images/br4.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: skew(17deg, 0);
  transform-origin: 0 0 0
}

.marries_center {
  float: left;
  width: 33%
}

.marries_right {
  float: right;
  width: 33%;
  height: 270px;
  position: relative;
  right: -41px
}

.groom_block {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: skew(-17deg, 0);
  transform-origin: 50% 50% 0;
  right: 0;
  overflow: hidden
}

.groom_img {
  background: url(../images/br5.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: skew(17deg, 0);
  transform-origin: 100% 100% 0
}

.married_coundown {
  font: 400 40px/48px Roboto Condensed;
  margin: 20px 0 0 0
}

.married_coundown .countdown-section {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 10px;
  min-width: 60px;
  position: relative;
}

.married_coundown .countdown-amount {
  min-width: 60px;
  text-align: center;
}

.married_coundown .countdown-section:before {
  content: " : ";
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 -15px;
  position: absolute;
  left: 0

}

.married_coundown .countdown-section:first-child:before {
  display: none
}

.married_coundown .countdown-period {
  font: 20px/24px Great Vibes;
  color: #C5C3BE;
  display: block;
  text-transform: lowercase;
}

.double_arrow {
  width: 188px;
  height: 25px;
  margin: 25px auto
}

.bride_title_block {
  font: 46px/48px Great Vibes;
  text-align: center;
  margin: 80px 0 0 0;
  color: #D9C6B1;
  position: absolute;
  left: 10%;
  text-align: center;
}

.bride_title_block i {
  font: normal 300 15px/24px Roboto Condensed;
  color: #666;
  display: block;
  margin: -7px 0 0 0;
  padding: 0 0 0 10px;
}

.bride_title_block:before {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 25px;
  background: #D9C6B1;
  transform: skew(-17deg, 0);
  margin: -35px 0 0 20px;
  left: 50%
}

.bride_title_block:after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 25px;
  background: #D9C6B1;
  transform: skew(-17deg, 0);
  margin: 7px 0 0 -9px;
  left: 50%
}

.groom_title_block {
  font: 46px/48px Great Vibes;
  text-align: center;
  margin: 80px 0 0 0;
  color: #D9C6B1;
  position: absolute;
  right: 10%;
  text-align: center;
}

.groom_title_block i {
  font: normal 300 15px/24px Roboto Condensed;
  color: #666;
  display: block;
  margin: -7px 0 0 0;
  padding: 0 0 0 10px;
}

.groom_title_block:before {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 25px;
  background: #D9C6B1;
  transform: skew(-17deg, 0);
  margin: -35px 0 0 20px;
  left: 50%
}

.groom_title_block:after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 25px;
  background: #D9C6B1;
  transform: skew(-17deg, 0);
  margin: 7px 0 0 -9px;
  left: 50%
}

.married_photo img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.married_photo {
  position: absolute;
  width: 200px;
  height: 200px;
  overflow: hidden;
  top: 0;
  margin: 59px 0 0 141px;
  z-index: 0;
}

.groom_title_block .married_photo {
  margin: 59px 0 0 -55px;
}

.im1 {
  width: 302px;
  height: 302px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  margin: 30px 0 0 0;
  background-position: center;
  background-size: cover
}

.im1:before, .im2:before {
  display: block;
  content: "";
  position: absolute;
  width: 302px;
  height: 302px;
  border: 7px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.im2 {
  width: 302px;
  height: 302px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  margin: 30px 0 0 0
}

.im_arrows {
  position: absolute;
  width: 100%;
  height: 100%
}

.im_arrows:before {
  width: 39px;
  height: 77px;
  display: block;
  content: "";
  position: absolute;
  top: -43px;
  right: 20px
}

.im_arrows:after {
  width: 13px;
  height: 38px;
  display: block;
  content: "";
  position: absolute;
  bottom: -34px;
  right: 120px
}

/*# 6. Our Story*/
.our_story {
  padding: 48px 0 20px;
}

/*# 7. Slider Buttons*/
.owl-prev {
  width: 86px;
  height: 185px;
  position: absolute;
  cursor: pointer;
  text-indent: -10000px;
  left: 30px;
  top: 50%;
  margin: -55px 0 0 0;
  padding: 0 10px;
  transition: background 0.5s;

}

.owl-prev:before {
  width: 1px;
  height: 100px;
  transform: rotate(-145deg);
  background: #BDBDBD;
  content: "";
  display: block;
  transition: transform 0.2s;
  position: absolute;
  transform-origin: top;
  top: 93px;
}

.owl-prev:hover:before {
  transform: rotate(-150deg);
}

.owl-prev:hover:after {
  transform: rotate(150deg);
}

.owl-prev:after {
  width: 1px;
  height: 100px;
  transform: rotate(145deg);
  background: #BDBDBD;
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom;
  transition: transform 0.2s;
  top: -8px;
}

.owl-carousel:hover .owl-next, .owl-carousel:hover .owl-prev {

}

.owl-next {
  width: 86px;
  height: 185px;
  right: 0;
  position: absolute;
  cursor: pointer;
  right: 30px;
  text-indent: -10000px;
  top: 50%;
  margin: -55px 0 0 0;
  padding: 0 10px;
  transition: background 0.5s;
}

.owl-next:before {
  width: 1px;
  height: 100px;
  transform: rotate(145deg);
  background: #BDBDBD;
  content: "";
  display: block;
  transition: transform 0.2s;
  position: absolute;
  transform-origin: top;
  top: 93px;
  margin: 0 0 0 62px
}

.owl-next:hover:before {
  transform: rotate(150deg);
}

.owl-next:hover:after {
  transform: rotate(-150deg);
}

.owl-next:after {
  width: 1px;
  height: 100px;
  transform: rotate(-145deg);
  background: #BDBDBD;
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom;
  transition: transform 0.2s;
  top: -8px;
  margin: 0 0 0 62px
}

.owl-controls {
  text-align: center;
  zoom: 0.7;
}

.owl-pagination {
  margin: 55px 0 0 0;
  display: inline-block;
  padding: 0 22px;
  position: relative;
  height: 1px;
}

.owl-pagination:before {
  display: block;
  content: "";
  width: 31px;
  height: 17px;
  margin: -8px 0 0 -53px;
  position: absolute;
}

.owl-pagination:after {
  display: block;
  content: "";
  width: 8px;
  right: 0;
  height: 7px;
  top: 0;
  margin: -3px -7px 0 0;
  position: absolute;
}

.owl-page {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  margin: -21px 0 0 0;
}

.owl-page:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 26px;
  margin: 8px 0 0 16px;
}

.story_wrapper .owl-wrapper-outer {
  box-shadow: 0 0 20px rgba(117, 102, 84, 0.2);
  background: #FFF
}

.story_wrapper {

}

.story_item {
  position: relative;
  height: 400px
}

.story_item img {
  width: 100%;
  height: auto;

}

.story_img {
  width: 70%;
  height: 100%;
  background-size: cover !important;
  float: left;
  background-repeat: no-repeat !important;
  position: relative;
  background-position: center !important;
}

.youtube {
  position: absolute;
  color: #FFF !important;
  text-decoration: none !important;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px
}

.youtube:before {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background: #FFF;
  transform: skew(-17deg, 0);
  margin: -23px 0 0 27px
}

.youtube:after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background: #FFF;
  transform: skew(-17deg, 0);
  margin: -4px 0 0 11px
}

.story_plane {
  background: #FFF;
  height: 100%;
  width: 30%;
  position: relative;
  z-index: 2;
  float: left;
  display: flex
}

.story_back {
  background: #FFF;
  transform-origin: 0 0 0;
  transform: skew(-17deg);
  height: 100%;
  content: "";
  display: block;
  z-index: 0;
  position: absolute;
  width: 124px;
  left: 0
}

.story_back:before {
  position: absolute;
  z-index: 4;
  width: 10%;
  height: 400px;
  left: -2px;
  padding: 0 1px 0 0;
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  content: "";
  display: block;
}

.story_img_plane {
  background: #FFF;
  transform-origin: 0 0 0;
  transform: skew(-17deg);
  height: 100%;
  content: "";
  display: block;
  z-index: 0;
  position: absolute;
  width: 124px;
  left: 0
}

.story_img_plane:after {
  position: absolute;
  background: #000
  z-index: 4;
  width: 10%;
  height: 400px;
  right: -2px;
  padding: 0 1px 0 0;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  content: "";
  display: block;
}

.story_txt {
  position: relative;
  z-index: 4;
  padding: 30px 0;
  margin: auto;
  color:black;
}

.story_txt p {
  position: relative;
  margin: 0 0 0 -15%;
}

.story_title {
  font: 34px/26px Great Vibes;
  margin: 0 -10% 28px 0;
  text-align: center;
}

.story_title i {
  font: normal 300 14px/28px Roboto Condensed;
  position: relative;
  margin: 0 0 10px 0;
  text-align: center;;
  display: block;
}

.story_title:before {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  transform: skew(-17deg, 0);
  margin: -25px 0 0 20px;
  left: 50%;
  opacity: 0.3
}

.story_title:after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  transform: skew(-17deg, 0);
  margin: -5px 0 0 -9px;
  left: 50%;
  opacity: 0.3
}

.owl-item {
  transform: none !important;
}

.owl-buttons {
  top: 50%;
  position: absolute;
  margin: -85px 0 0 0;
  width: 100%
}

/*# 8. Events*/
.events {
  overflow: visible;
}



/*# 11. Where&When*/
.when_where {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.when_where .container {
}

.when_where_container {
  z-index: 2;
  position: relative;

}

.when_where_container .title3 {
  width: 300px;
  margin: 0 auto
}

.when_where_container .title4 {
  width: inherit;
  margin: 0;
}

.when_where .over {
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0
}

.when_where h2 {
  margin: 0 0 50px 0;
  opacity: 0.8
}

.when_where h2:after {
  display: none
}

.pattern1 {
  background: url(../images/venz1.png);
  background-size: cover;
  width: 122px;
  height: 28px;
  margin: 0 auto 20px
}

.pattern2 {
  background: url(../images/venz4.png);
  background-size: cover;
  width: 142px;
  height: 8px;
  margin: 20px auto
}

.pattern3 {
  background: url(../images/venz5.png);
  background-size: cover;
  width: 73px;
  height: 24px;
  margin: 20px auto 0
}

.title0 {
  font: 300 16px/28px Roboto Condensed;
  color: rgba(255, 255, 255, 0.5);
}

.title1 {
  font: 46px/48px Great Vibes;
}

.title1_2 {
  text-indent: -15px;
  font: 52px/56px Great Vibes;
}
.box{
  padding: 20px;
  background: rgb(34, 34, 34); /* for IE */
  background: rgba(34, 34, 34, 0.75);
  width: 50%;
  overflow: none;
  display: block;
  margin: auto;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.85);
}

.title2 {
  font: 56px/60px Roboto Condensed;
  margin: 0 0 13px 0;
  letter-spacing: -1px
}

.title3 {
  font: 24px/32px Roboto Condensed;
  margin: 0 0 5px 0;
}

.title4 {
  font: 300 34px/40px Roboto Condensed;
  text-transform: uppercase
}

.title5 {
  font: 300 14px/24px Roboto Condensed;
  text-transform: uppercase;
  margin: -5px 0 20px
}

.clock_icon {
  margin: 50px 0 0 0
}

.photocamera {
  position: absolute;
  right: 100px;
  top: 50%;
  margin: -20px 0 0 0;
  z-index: 4;
}

.hotel .container {
  padding-bottom: 0
}

.photocamera span:before {
  font-size: 24px !important
}

.photocamera span {
  animation: 2.4s ease infinite camera-pulse;
  -webkit-animation: 2.4s ease infinite camera-pulse;
  position: absolute;
  cursor: pointer
}

@keyframes camera-pulse {
  0% {
    transform: scale(1);
    opacity: 0.6
  }
  30% {
    transform: scale(1.3);
    opacity: 1
  }
  100% {
    transform: scale(1);
    opacity: 0.6
  }
}


/*# 14. Gallery*/
.gallery {
  padding: 48px 0 0

}

.gallery_item {
  position: relative;
  overflow: hidden
}

.gallery_txt {
  position: absolute;
  padding: 26px;
  width: 100%;
  height: 100%;
  text-align: center;
  font: 24px/32px Roboto Condensed;
  display: -webkit-box; /* Android 4.3-, Safari */
  -webkit-box-pack: justify; /* Android 4.3-, Safari */
  display: flex;
}

.gallery_txt:before {
  background: rgba(0, 0, 0, 0.6);
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  transition: opacity 1s;
  z-index: 2;
  opacity: 0;
  left: 0
}

.gallery_item:hover .gallery_txt:before {
  left: 0;
  opacity: 1
}

.gallery_txt b {
  display: block;
  font: 34px/40px Roboto Condensed;
  color: #FFF
}

.gallery_txt a {
  width: 100%;
  display: block;
  margin: auto;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 1s;
  left: 0;
  z-index: 3;
  padding: 0 24px;
  color: #FFF;
  position: relative;
  text-decoration: none
}

.gallery_txt a:before {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background: #FFF;
  transform: skew(-17deg, 0);
  margin: -25px 0 0 20px;
  left: 50%
}

.gallery_txt a:after {
  position: absolute;
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  background: #FFF;
  transform: skew(-17deg, 0);
  margin: 15px 0 0 -10px;
  left: 50%
}

.gallery_txt i {
  position: absolute;;
  bottom: 16px;
  right: 16px;
  font-size: 14px;
}

.gallery_item:hover .gallery_txt a {
  opacity: 1
}

.gallery .container {
  padding: 48px 0 0
}

.gallery_item img {
  width: 100%;
  height: auto;
  transition: transform 2s;
}

.gallery_item:hover img {
  transform: scale(1.2)
}

/*# 15. Responsive*/

@media (max-width: 992px) {
  .owl-controls {
    margin: 0 0 20px 0
  }

  .gallery .owl-buttons {
    margin: -70px 0 0 0
  }

}

@media (max-width: 768px) {
  .story_txt p, .story_title {
    margin: 0;
  }

  .home_intro {
    background-attachment: scroll;
  }

  .hotel {
    background-attachment: scroll;
  }

  .when_where {
    background-attachment: scroll;
  }


  .im1, .im2 {
    display: none;
  }

}

@media (max-width: 480px) {
  .story_txt p {
    margin: 0;
  }

  .owl-controls {
    zoom:0.5;
  }

  .gallery .owl-buttons {
    margin: -40px 0 0 0
  }

  .owl-carousel:hover .owl-next, .owl-carousel:hover .owl-prev {
    background: none !important
  }

  .im1, .im2 {
    display: none;
  }



  .gallery_item {
    width: 100%
  }

  .story_img {
    width: 200px;
    height: 200px;
    left: 50%;
    margin: 0 0 0 -100px;
    position: absolute;
    border-radius: 50%;
    z-index: 5;
  }

  .story_img:before {
    border: 10px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .story_plane {
    width: 100%;
    left: 0;
    background: none
  }

  .story_txt {
    padding: 0 24px;
    margin: 220px 0 0
  }

  .story_back, .story_img_plane, .story_title:after, .story_title:before, .owl-pagination {
    display: none
  }

  .youtube {
    margin: -11px 0 0 -20px
  }

  .story_title {
    margin: 0
  }

  .story_wrapper .owl-wrapper-outer {
    box-shadow: 0 0 0;
    background: none
  }

  .story_item, .guest_wrapper {
    height: auto;
  }

  .guest_wrapper .owl-buttons, .registry .owl-buttons {
    display: block;
  }

}

a.maplink:hover {
  text-decoration: none;
}

a.maplink:link {
  text-decoration: none;
}

a.maplink:active {
  text-decoration: none;
}

a.maplink:visited {
  text-decoration: none;
}